* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'barlow-regular';
    src: url('../font/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'barlow-bold';
    src: url('../font/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'barlow-medium';
    src: url('../font/Barlow-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'barlow-light';
    src: url('../font/Barlow-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }



body{
    background: black;
}

/* Inicio do Header */
.header {
    justify-content: center;
    display: flex;
    width: 100%;
    color:#fff;
}
.gradient {
    display: flex;
    width:80%; 
    height:60px;
    background-image: linear-gradient( to right,#000, #603CAF, #B34AB5, #000 );
}

.logo{
    display: flex;
    width: 100%;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-top: 6px;

    border-radius: 215px;
}

.logo p {
    margin-left: 5%;
    margin-top: 16px;
    font-family: 'Barlow-regular';
    font-weight: 400;
    font-size: 25.2267px;
}



.menu ul{
    display: flex;
    margin-top: 16px;
    font-family: 'Barlow-regular';
    font-size: 25.2267px;

}

.menu li{
    margin-right: 40px;
    list-style-type: none;
}


/* Fim Header */

/* Inicio Portfolio */

.portfolio {
    display: flex;
    width: 100%;
    height: 20%;
    position: relative;


}
.portfolio span{
    position: absolute;
    margin-left: 9.65%;
    top: 120px;
    font-family: 'Barlow-Bold';
    font-size: 180px;
    color: #FFFFFF;

}

.portfolio p{
    position: absolute;

    margin-left: 9.65%;
    top: 310px;
    font-family: 'Barlow-regular';
    font-size: 60px;

    color: #FFFFFF;

    opacity : 0.8;

}
.vector {
    width: 100%;

}


/* Fim do Porfolio */

/* Inicio Hello */
.hello {
    padding-bottom: 3%;
    height: 100%;
    display: flex;
    background: #E5E5E5;
}
.hello img{
    margin-top: 10%;
    margin-left: 20%;
}
.container_hello{
    justify-content: center;
    align-items: center;
    
}

.texto_hello{
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Barlow-Medium';
    font-style: normal;

    font-size: 63.2941px;

}

.texto_hello span{
    color: #111111;
}

.texto_hello p{
    width: 450px;
    font-family: 'Barlow-light';
    font-size: 36px;
    color: #111111;



}

.card {
    margin-top: 5%;
    width: 49%;
    height: 9%;
    text-align: center;
    background: linear-gradient(180deg, #603CAF 0%, #B34AB5 100%);
    border-radius: 9.04202px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.2));
  
}

.card p{
    line-height: 40px;
    width: auto;
    font-size: 25px;
    font-family: 'Barlow-Regular';
    color: #FFFFFF;
}

/* Fim Hello */


/* Inicio Sobre */
.sobre{
    display: flex;
    width: 100%;
    padding-bottom: 8%;
}

.conteudo_sobre{
    margin-top: 10%;
    margin-left: 10%;
    position: absolute;
    width: 42%;
}
.sobre_titulo{
    color: #FFFFFF;
    font-family: 'Barlow-Bold';
    font-size: 42px;
}

.sobre_texto {
    margin-top: 5%;
    font-size: 27px;

    text-align: justify;
    color: #FFFFFF;
    font-family: 'Barlow-Light';
}

.sobre_card{

    margin-top: 3%;
    width: 34%;
    height: 39px;
    text-align: center;
    background: linear-gradient(180deg, #603CAF 0%, #B34AB5 100%);
    border-radius: 9.04202px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.2));
    align-items: center;
}


.sobre_card p {

    font-size: 25px;
    line-height:33px;
    font-weight: 400px;
    font-family: 'Barlow-Regular';
    color: #FFFFFF;
}

.sobre-foto{
    position: relative;
    margin-top: 8%;
    left: 60%;
}
/* Fim Sobre */

/* Inicio Projeto */

.projetos {
    padding-bottom: 8%;
    display:flex;
    background: #E5E5E5;
    justify-content: center;
    align-items: center;
    


}

.container_projeto{

    justify-content: center;
    align-items: center;
}
.titulo_projeto {
    margin-top: 10%;
    font-family: 'Barlow-Bold';
    font-size: 42px;
}

.lista_projeto {
    margin-top: 5%;
}
.lista_projeto ul{

    display: flex;
    margin-top: 20px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.25));

}

.lista_projeto li{
    width: 385px;
    height:auto;
    border-radius: 26px;
    margin-right: 20px;
    list-style-type: none;
 
    text-align: justify;
}
.laterais {
    background: #B34AB5;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.laterais p{
    font-family: 'Barlow-Medium';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
}
.laterais span{
    font-family: 'Barlow-light';
    color: #FFFFFF;
    font-size: 25px;

}
.laterais img{
    border-radius: 10px;
    width: 100%;
    height:auto;
}


.meio {
    background: #603CAF;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.meio p{
    font-family: 'Barlow-Medium';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
}
.meio span{
    font-family: 'Barlow-light';
    color: #FFFFFF;
    font-size: 25px;

}
.meio img{
    border-radius: 10px;
    width: 100%;
    height:auto;
}

.teste{
    width: 100%;
}
.botao_projeto{
    margin:auto;
    margin-top: 3%;
    width: 30%;
    background: linear-gradient(180deg, #603CAF 0%, #B34AB5 100%);
    border-radius: 9.04202px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.2));
}
.botao_projeto p{
    text-align: center;
    font-size: 22px;
    line-height:33px;
    font-weight: 400px;
    font-family: 'Barlow-Regular';
    color: #FFFFFF;
}

/* Fim Projeto */


/* Inicio Servico */
.servico{
    padding-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container_servico{
    display: flex;
    align-items: center;

}

.titulo_servico p{
    color: #FFFFFF;
    font-family: 'Barlow-Bold';
    font-size: 42px;
}
.lista_servico{

    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Barlow-Regular';
    

}
.botao_cima_baixo{
    margin-top: 10px;
    line-height: 60px;
    width: 300px;
    height: 60px;
    background: #603CAF;
    border-radius: 9.3317px;
    list-style-type: none;
}
.botao_servico_meio{
    margin-top: 10px;
    line-height: 60px;
    width: 300px;
    height: 60px;
    background: #B34AB5;
    border-radius: 9.3317px;
    list-style-type: none;
}


.linha-vertical {
    margin-left: 60px;
    margin-right: 60px;
    height: 400px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #D0D0D0;
  }

.lista_conhecimentos{
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Barlow-Regular';
    
}
.botao_conhecimento_baixo{
    margin-top: 10px;
    line-height: 60px;
    width: 150px;
    height: 60px;
    background: #603CAF;
    border-radius: 9.3317px;
    list-style-type: none;
}  

.botao_conhecimento_meio{
    margin-top: 10px;
    line-height: 60px;
    width: 200px;
    height: 60px;
    background: #B34AB5;
    border-radius: 9.3317px;
    list-style-type: none;
}
.botao_conhecimento_css{
    margin-top: 10px;
    line-height: 60px;
    width: 150px;
    height: 60px;
    background: #B34AB5;
    border-radius: 9.3317px;
    list-style-type: none;
}
.grid {
    display: grid;
	max-width: 500px;
	margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Barlow-Regular';   
}
.grid-template-columns {
	grid-template-columns: 160px 160px;
}
/* Fim Servico */


/* Inicio Contato */
.contato{
    padding-top: 7%;
    background: #E5E5E5;
    padding-bottom: 7%;
}

.container_contato{
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow-MEdium';
}
.container_contato li{
    margin-top: 14px;
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow-MEdium';
}

.titulo_contato {
    font-family :'Barlow-Bold';
}

/* Fim Contato */

.footer {
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    align-items: center;

    background: linear-gradient(90deg, rgba(239, 86, 77, 0.87) 0.01%, #EF564D 0.02%, #B34AB5 53.01%, #603CAF 100.08%, #603CAF 100.09%);
    background-blend-mode: darken;
    mix-blend-mode: normal;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.container_footer{
    line-height: 60px;
    text-align: center;
    font-size: 37px;
    font-family: 'Barlow-Medium';
    color: #FFFFFF;
}