* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'barlow-regular';
    src: url('../font/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'barlow-bold';
    src: url('../font/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'barlow-medium';
    src: url('../font/Barlow-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'barlow-light';
    src: url('../font/Barlow-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }



body{
    background: black;
}
/* Inicio do Header */
.header {
    justify-content: center;
    display: flex;
    width: 100%;
    color:#fff;
}
.gradient {
    display: flex;
    width:80%; 
    height:60px;
    background-image: linear-gradient( to right,#000, #603CAF, #B34AB5, #000 );
}

.logo{
    display: flex;
    width: 100%;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-top: 6px;

    border-radius: 215px;
}

.logo p {
    margin-left: 5%;
    margin-top: 16px;
    font-family: 'Barlow-regular';
    font-weight: 400;
    font-size: 25.2267px;
}



.menu ul{
    display: flex;
    margin-top: 16px;
    font-family: 'Barlow-regular';
    font-size: 25.2267px;

}

.menu li{
    margin-right: 40px;
    list-style-type: none;
}


/* Fim Header */

/* Portfolio */

.portfolio {
    display: flex;
    width: 100%;
    height: 20%;
    position: relative;


}
.portfolio span{
    position: absolute;
    margin-left: 9.65%;
    top: 120px;
    font-family: 'Barlow-Bold';
    font-size: 180px;
    color: #FFFFFF;

}

.portfolio p{
    position: absolute;

    margin-left: 9.65%;
    top: 310px;
    font-family: 'Barlow-regular';
    font-size: 60px;

    color: #FFFFFF;

    opacity : 0.8;

}
.vector {
    width: 100%;

}


/* Fim do Porfolio */

.hello {
    padding-bottom: 3%;
    height: 100%;
    display: flex;
    background: #E5E5E5;
}
.hello img{
    margin-top: 10%;
    margin-left: 20%;
}
.container_hello{
    justify-content: center;
    align-items: center;
    
}

.texto_hello{
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Barlow-Medium';
    font-style: normal;

    font-size: 63.2941px;

}

.texto_hello span{
    color: #111111;
}

.texto_hello p{
    width: 450px;
    font-family: 'Barlow-light';
    font-size: 36px;
    color: #111111;



}

.card {
    margin-top: 5%;
    width: 49%;
    height: 9%;
    text-align: center;
    background: linear-gradient(180deg, #603CAF 0%, #B34AB5 100%);
    border-radius: 9.04202px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.2));
  
}

.card p{
    line-height: 40px;
    width: auto;
    font-size: 25px;
    font-family: 'Barlow-Regular';
    color: #FFFFFF;
}

/* Fim Hello */


/* Sobre */
.sobre{
    display: flex;
    width: 100%;
    padding-bottom: 8%;
}

.conteudo_sobre{
    margin-top: 10%;
    margin-left: 10%;
    position: absolute;
    width: 42%;
}
.sobre_titulo{
    color: #FFFFFF;
    font-family: 'Barlow-Bold';
    font-size: 42px;
}

.sobre_texto {
    margin-top: 5%;
    font-size: 27px;

    text-align: justify;
    color: #FFFFFF;
    font-family: 'Barlow-Light';
}

.sobre_card{

    margin-top: 3%;
    width: 34%;
    height: 39px;
    text-align: center;
    background: linear-gradient(180deg, #603CAF 0%, #B34AB5 100%);
    border-radius: 9.04202px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.2));
    align-items: center;
}


.sobre_card p {

    font-size: 25px;
    line-height:33px;
    font-weight: 400px;
    font-family: 'Barlow-Regular';
    color: #FFFFFF;
}

.sobre-foto{
    position: relative;
    margin-top: 8%;
    left: 60%;
}




.projetos {
    padding-bottom: 8%;
    display:flex;
    background: #E5E5E5;
    justify-content: center;
    align-items: center;


}

.container_projeto{

    justify-content: center;
    align-items: center;
}
.titulo_projeto {
    
    padding-top: 10%;
    font-family: 'Barlow-Bold';
    font-size: 42px;
}
.lista_projeto ul{
    display: flex;
    margin-top: 20px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.25));

}

.lista_projeto li{
    width: 270px;
    height:auto;
    background: #B34AB5;
    border-radius: 26px;
    margin-right: 20px;
    list-style-type: none;
 
    text-align: justify;
}
.moveis {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.moveis p{
    font-family: 'Barlow-Medium';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
}
.moveis span{
    font-family: 'Barlow-light';
    color: #FFFFFF;
    font-size: 25px;

}
.moveis img{
    border-radius: 10px;
    width: 100%;
    height:auto;
}


.food {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.food p{
    font-family: 'Barlow-Medium';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
}
.food span{
    font-family: 'Barlow-light';
    color: #FFFFFF;
    font-size: 25px;

}
.food img{
    border-radius: 10px;
    width: 100%;
    height:auto;
}

.home {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.home p{
    font-family: 'Barlow-Medium';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
}
.home span{
    font-family: 'Barlow-light';
    color: #FFFFFF;
    font-size: 25px;

}
.home img{
    border-radius: 10px;
    width: 100%;
    height:auto;
}
.teste{
    width: 100%;
}
.botao_projeto{
    margin:auto;
    align-items: center;
    margin-top: 3%;
    width: 32%;
    background: linear-gradient(180deg, #603CAF 0%, #B34AB5 100%);
    border-radius: 9.04202px;
    filter: drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.2));
}
.botao_projeto p{
    text-align: center;
    font-size: 22px;
    line-height:33px;
    font-weight: 400px;
    font-family: 'Barlow-Regular';
    color: #FFFFFF;
}

